body {
  color: black;
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(180, 250, 217);
}

.navbar {
  background-color: rgb(227, 101, 143);
  box-shadow: 0 4px 2px -2px gray;
}

.navbar--content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.navbar--icon {
  width: 27px;
  height: 27px;
  margin: 0 4px;
}

.navbar--title {
  font-size: 21px;
  letter-spacing: 0.2rem;
}

.cards--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.card {
  margin: 10px 0;
  display: flex;
  max-width: 800px;
  background-color: rgb(206, 254, 232);
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(170, 170, 170, 0.421) 0 0 9px 4px;
}

.card--image {
  width: 180px;
  height: 230px;
  border-radius: 10px;
  overflow: hidden;
}

.card--image img {
  height: 230px;
  object-fit: cover;
}

.card--content {
  max-width: 550px;
  margin-left: 10px;
}

.card--content--location {
  display: flex;
  align-items: center;
  margin-top: 7px;
}

.card--content--location img {
  height: 20px;
}

.card--content--location p {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 0 10px 0 3px;
}

.card--content--location a {
  font-size: 0.7rem;
  text-decoration: none;
  color: gray;
}

.card--content--title {
  font-size: 1.6rem;
  margin: 8px 0 31px 0;
  letter-spacing: 0.1rem;
}

.card--content--date {
  font-weight: bold;
  margin: 0 0 4px 0;
}

.card--content-description {
  margin: 0;
}
